[Desktop Entry]
Type=Application
Name=MDReader
Comment=Markdown reader and editor
Exec=/usr/bin/mdreader.sh %F
Icon=mdreader
Terminal=false
Categories=Office;TextEditor;Utility;
MimeType=text/markdown;text/x-markdown;